# example h2lprc file.

API_USER=your.email.address@example.com
API_PW='your secret password!'

# you can find out your workspace id in the url if you surf to liquidplanner,
# or you can do a get request to https://app.liquidplanner.com/api/workspaces.
WORKSPACE_ID=workspace_id

# If PACKAGE_ID is set, new tasks are added to the given package.
# PACKAGE_ID=package_id

# mappings between hamster categories and lp projects.
# call the mappings MAP_category, where category is the name of a category
# in hamster.

# create LP tasks in a folder for tasks in hamster category:
declare -A MAP_chirocivi=([folder]=27411421 [activity]=139977)
declare -A MAP_krinkel=([folder]=33088192 [activity]=139977)

# log all tasks of this hamster category to an existing LP task:
declare -A MAP_helpdesk=([task]=12138181 [activity]=139812)
